.chat-main-container {
    position: absolute;
    bottom: 30px;
    left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.messages-sent-container {
    margin-bottom: 10px;
    padding: 5px;
    color: white;
    word-wrap: break-word;
    white-space: pre-wrap;
    width: 216px;
    height: 231px;
    z-index: 3;
}

.send-message-container {
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    color: white;
    justify-content: center;
    align-items: center;
}

.send-message-input {
    background-color: rgb(51 31 65);
    outline: none;
    border: none;
    caret-color: #ffffff;
    font-family: arial;
    padding: 5px;
    color: rgba(255, 255, 255, 0.718);
}

.chat-send-icon {
    cursor: pointer;
}

.chat-send-icon i {
    color: rgb(255, 255, 255);
    padding: 5px 10px 4px;
    background-color: var(--verants-main-color);
}

.message-sent-user-details {
    display: flex;
    gap: 10px;
    margin-bottom: 3px;
}

.message-inside-messages-container {
display: flex;
flex-direction: column;
}

.chat-user-profile {

}

.chat-user-username {

}

.chat-user-message {
margin-left: 20px;
opacity: 0.8;
}