.challenges-main-container {
  position: relative;
  top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 240px;
  color: white;
  gap: 4px;
  left: 15px;
  user-select: none;
}

.challenges-xp-lvl-progress {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.xp-progress-bar {
  width: 100%;
  background-color: #c9c9c920;
  height: 9px;
  transform: skewX(-45deg);
  position: relative;
}

.xp-inner-progress-bar {
position: absolute;
width: 20%;
height: 100%;
background-color: var(--verants-main-color);
}

.challenges-clickable-main-container {
  padding: 6px 10px;
    font-weight: bold;
    background-color: white;
    color: black;
    cursor: pointer;
    position: relative;
}

/* .top-chllenges-button-trans {
  width: 100%;
  height: 7px;
  position: absolute;
  background-color: var(--verants-main-color);
  left: 0;
  top: 0;
} */