.challenges-main-container {
  position: relative;
  top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 240px;
  color: white;
  gap: 4px;
  left: 15px;
  user-select: none;
}

.challenges-xp-lvl-progress {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.xp-progress-bar {
  width: 100%;
  background-color: #c9c9c920;
  height: 9px;
  transform: skewX(-45deg);
  position: relative;
}

.xp-inner-progress-bar {
position: absolute;
height: 100%;
background-color: var(--verants-main-color);
}

.challenges-clickable-main-container {
  padding: 6px 10px;
  font-weight: bold;
  outline: 1px solid white;
  color: white;
  position: relative;
  border-radius: 7px;
  transition: 0.2s;
  position: relative;
}

.challenges-clickable-main-container:hover {
  background-color: white;
  color: black;
  transition: 0s;
}

.challenges-main-container-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

/* .top-chllenges-button-trans {
  width: 100%;
  height: 7px;
  position: absolute;
  background-color: var(--verants-main-color);
  left: 0;
  top: 0;
} */