:root {
  --default-outline-color-not-selected: #454545;
  --default-select-background-color: #41414147;
}

.v-pass-page-main-container {
  background-color: var(--home-element-main-color);
  width: 100%;
  height: 100vh;
}

.v-pass-content-main-container {
  width: calc(100% - 10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  position: absolute;
  left: 50%;
  top: calc(50% + 60px);
  transform: translate(-50%, -50%);
}

.v-pass-content-top-part {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.back-shadow-v-pass-top-part {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #b600ffab;
  box-shadow: 0 0 194px 135px #b600ffd4;
  opacity: 0.1;
}

.v-pass-content-bottom-part {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  transition: 0.2s;
  flex-direction: column;
  padding: 0px 90px 0px 40px;
  box-sizing: border-box;
}

.v-pass-content-bottom-part::-webkit-scrollbar {
  width: 0px;
}

.bottom-layer-bottom-part-v-pass {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  height: 50px;
}

.progress-bar-main-container-part {
  width: 200px;
  height: 20px;
  display: flex;
  position: relative;
}

.progress-bar-part-rec {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #80808027 50%, #80808027 0px);
}

.progress-bar-part-rec-last {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.progress-bar-part-circle {
  background-color: #2d2d2d;
  right: 0;
  margin-right: 4px;
}

.progress-bar-part-circle-first {
  left: 0;
  transform: translateX(-10px);
  background-color: var(--verants-main-color);
}

.progress-bar-part-circle-first,
.progress-bar-part-circle {
  width: 20px;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  outline: 4px solid var(--home-element-main-color);
}

.first-part-level-number,
.level-part-number,
.last-level-part-number {
  position: absolute;
  color: var(--verants-main-color);
  font-weight: bold;
  font-size: 18px;
  top: calc(100% + 10px);
}

.first-part-level-number {
  left: -5px;
}

.level-part-number {
  left: -20px;
}

.last-level-part-number {
  left: calc(100% - 28px);
}

.top-layer-bottom-part-v-pass {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  height: 105px;
}

.top-layer-prize-part {
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.inner-prize-top-layer {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  position: absolute;
  left: calc(100% - 14px);
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--default-select-background-color);
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--default-outline-color-not-selected);
  transition: 0.2s;
  z-index: 1;
}

.inner-prize-top-layer:hover {
  outline-color: white;
  transition: 0s;
}

.overlay-cover-inner-prize {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.bottom-part-buy-v-pass-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  position: relative;
}

.buy-v-pass-inner-button:hover {
  background-color: var(--verants-main-color);
  color: white;
  transition: 0s;
}

.buy-v-pass-inner-button {
  position: relative;
  text-transform: uppercase;
  padding: 20px 30px;
  outline: 2px solid var(--verants-main-color);
  border-radius: 5px;
  font-size: 25px;
  color: var(--verants-main-color);
  font-weight: bold;
  margin-bottom: 10px;
  transition: 0.2s;
}
